USE [AVSPrivacyCompliance]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrivacyTermSynonym](
	[term] [nchar](500) NULL,
	[synonym] [nchar](500) NULL
) ON [PRIMARY]
GO
