USE [AVSPrivacyCompliance]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabelsDataTypes](
	[label_name] [varchar](50) NULL,
	[datatype] [varchar](50) NULL
) ON [PRIMARY]
GO
