USE [AVSPrivacyCompliance]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Labels](
	[label_name] [varchar](50) NULL,
	[linked_notlinked] [varchar](50) NULL
) ON [PRIMARY]
GO
